{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript"],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "quotes": [2, "single"],
    "indent": ["off"],
    "@typescript-eslint/indent": ["warn", 4],
    "import/extensions": ["error", "never"],
    "import/no-default-export": ["warn"],
    "import/prefer-default-export": ["off"],
    "react/jsx-one-expression-per-line": ["off"],
    "react/jsx-max-props-per-line": ["error", {"when": "always"}],
    "react/jsx-filename-extension": [
      "warn",
      { "extensions": [".tsx", ".jsx"] }
    ],
    "react/jsx-indent": ["warn", 4],
    "react/jsx-indent-props": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/require-default-props": ["off"],
    "no-unused-vars": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "error",
    "@typescript-eslint/member-delimiter-style": ["warn",{"multiline": {"delimiter": "semi"}}],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error", {"typedefs": false, "functions":  false}],
    "@typescript-eslint/object-curly-spacing": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "always-multiline"],
    "react/jsx-tag-spacing": ["error", {"beforeSelfClosing": "always"}],
    "max-len": ["warn", {"code": 120}],
    "jsx-a11y/click-events-have-key-events": ["warn"],
    "jsx-a11y/no-noninteractive-element-interactions": ["warn"],
    "react/button-has-type": "off"
  }
}
