@import "src/styles/colors";

.units-toggle {
    font-size: 18px;
    line-height: 22px;
    display: flex;

    &__controls {
        margin-left: 8px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 8px;
        height: 30px;
        display: flex;
        overflow: hidden;

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 0;
            flex-grow: 1;

            opacity: 0.6;
            cursor: pointer;
            width: 40px;
            border: none;
            background-color: transparent;
            color: $color-white;

            &:hover {
                opacity: 1;
            }

            &:active, &:focus, &:hover {
                border: none;
                outline: none;
                user-select: none;
            }

            &__active {
                opacity: 1;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}
