@import "src/styles/colors";

.button {
    color: $color-white;
    opacity: 0.6;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    border: none;

    &:hover {
        opacity: 1;
    }

    &:active, &:focus, &:hover {
        border: none;
        outline: none;
        user-select: none;
    }

    &:not(:first-child) {
        margin-left: 30px;
    }
}
